/* Подключаем шрифты */

@font-face {
    font-family:'Open Sans', sans-serif;
    src: url(../FONT/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family:'Open Sans', sans-serif;
    src: url(../FONT/OpenSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family:'Open Sans', sans-serif;
    src: url(../FONT/OpenSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family:'Open Sans', sans-serif;
    src: url(../FONT/OpenSans-Bold.ttf);
    font-weight: 700;
}